# ignore HLS related directories
project_hls/
VSC_solution/

# --- VIVADO & SDK common ---

# folders (and all of their contents) that should always be ignored,
# anywhere in the repo
.Xil/

# file patterns that should always be ignored (journal files, log
# files, dump files that are created upon Vivado/SDK errors)

*.jou
*.log
*.backup.jou
*.backup.log
*.upgrade_log
*.dmp
vivado_pid*
~*

*.vcd
*.out
*.str
*.pkl
*.pkl.zip
*.pyd
*.npz

# ignore the vivado project
project_tcl/ZCU111/MinimumTrigger/MinimumTrigger/
project_tcl/ZCU111/MinimumTrigger/~$MinimumTrigger_DataFrame.xlsx
project_tcl/ZCU111/MinimumTrigger_test/MinimumTrigger_test/
project_tcl/ZCU111/MinimumTrigger_test/MMTrigger_DummyTest/
project_tcl/**/ILA_Data/
project_tcl/ZCU111/Ethernet_test

project_tcl/ZCU111/TwoChMixer/TwoChMixer/
project_tcl/ZCU111/TwoChMixer_test/TwoChMixer_test/
project_tcl/ZCU111/TwoChMixer_test/TwoChMixer_DummyTest/

project_tcl/ZCU111/EASYHS_AXIS_Converter/EASYHS_AXIS_Converter/

project_tcl/ZCU111/MMT_DMA_test/
project_tcl/ZCU111/MMT_SGDMA_test/MMT_SGDMA_test/
project_tcl/ZCU111/MMT_SimpleDMA_test/MMT_SimpleDMA_test/

project_tcl/ZCU111/dataframe_generator_test/dataframe_generator_test
project_tcl/ZCU111/data_trigger_test/data_trigger_test
project_tcl/ZCU111/pl_ddr_mmu_sim_test/pl_ddr_mmu_sim_test
project_tcl/ZCU111/minimal_module_test/minimal_module_test
project_tcl/ZCU111/fee_configurator_sim_test/fee_configurator_sim_test
project_tcl/ZCU111/rfdc_latency_check/rfdc_latency_check
project_tcl/ZCU111/minimal_FEE/minimal_FEE
project_tcl/ZCU111/minimal_FEE_2ch/minimal_FEE_2ch
project_tcl/ZCU111/minimal_FEE_SG_mode/minimal_FEE_SG_mode
project_tcl/ZCU111/minimal_FEE_2ch_HS/minimal_FEE_2ch_HS
project_tcl/ZCU111/Kam2FEE_ZCU111/Kam2FEE_ZCU111
project_tcl/ZCU111/async_df_gen_test/async_df_gen_test
project_tcl/ZCU111/async_pl_ddr_mmu_sim_test/async_pl_ddr_mmu_sim_test
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/MoGURA2_FEE/
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE_vivado2019_2/MoGURA2_FEE/

# --- SDK specific ---
/XilinxSDK_project_old/

# exclude some obscure hidden SDK folders
/XilinxSDK_project/**/.sdk
/XilinxSDK_project/**/.temp
/XilinxSDK_project/**/.metadata
/XilinxSDK_project/**/SDK.log
/XilinxSDK_project/**/webtalk

# Application : ignored file patterns, exclude Debug & Release and sample folders
/XilinxSDK_project/**/*.o
/XilinxSDK_project/**/*.d
/XilinxSDK_project/**/*.a
/XilinxSDK_project/**/Debug/
/XilinxSDK_project/**/Release/
/XilinxSDK_project/**/RemoteSystemsTempFiles/
/XilinxSDK_project/**/Packages/

/XilinxSDK_project/*/*/*/
!/XilinxSDK_project/*/**/*src/
!/XilinxSDK_project/*/**/.vscode
!/XilinxSDK_project/*/**/*_hw_platform_*
!/XilinxSDK_project/*/**/*driver

# only keep .cproject, .project, .sdkproject, .system.mss and Makefile
# i.e. the psu_cortexa53_0 lib files are regenerated automatically
!/XilinxSDK_project/*/**/.*project
!/XilinxSDK_project/*/**/.system.mss
!/XilinxSDK_project/*/**/Makefile

# --- Vitis ---
/Vitis_project

# --- Simulink project ---
SysGen_project/**/slprj/**

# --- ip repository ---
ip_repos/SysGen_outputs/*/*
!ip_repos/SysGen_outputs/**/ip
ip_repos/TED_ip

# exceptions
algorithm_dev/AfterMuon_FreqSpec.py
util_code/*/data/*
util_code/*/dummy_data/*
!util_code/MMTrigger/data/recv_buff_v2_20200428_01.bin
!util_code/MMTrigger/data/recv_buff_v2_format.txt
util_code/pl_pc_transport_test.gif
!util_code/FEE_server/data/recv_buff_v4_20200910_15.bin
proto_ip_code/**/*_proj/

proto_ip_code/dsp_module/l1norm_method
/XilinxSDK_project/minimal_FEE/bug_terminal_log
!/XilinxSDK_project/minimal_FEE_2ch/minimal_FEE_2ch_src/fee_configrator_driver
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/example_design.xdc
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/peripheral_blocks.tcl
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/lgain_adc_03.tcl
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/lgain_adc_8b.tcl
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/lgain_adc_47.tcl
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/lgain_adc_af.tcl
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/lgain_adc_cf.tcl
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/usp_rf_data_converter_0_example_design.xdc
XilinxSDK_project/minimal_FEE/minimal_FEE_src/xrfdc_driver_example/**
XilinxSDK_project/async_df_gen_test/async_df_gen_test_src/sample_src/**
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/repeat.tcl
project_tcl/MoGURA2_PROTOTYPE/MoGURA2_FEE/script.tcl
util_code/FEE_server/build/**
project_tcl/ZCU111/Kam2FEE_ZCU111_RR/
XilinxSDK_project/Kam2FEE_ZCU111_RR
